@font-face {
    font-family: Roboto;
    src: url(Format/Roboto);
}


body {
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

img {
    width: 130px;
    height: 100px;
    background-color: transparent;
}

#header {
    background-color: #AADBFF;
    width: auto;
    height: 100px;
    border: 3px solid #64A9DB;
}

footer {
    background-color: #AADBFF;
    width: auto;
    height: 50px;
    border: 3px solid #64A9DB;
    bottom: 0px;
}

#title {
    position: absolute;
    font-family: Roboto-Thin;
    font-size: 90pt;
    left: 150px;
    top: -95px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    height: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile {
    float: right;
}

#settings {
    float: right;
}

.navigation li {
    float: left;
    
}

.navigation li a {
    display: block;
    text-align: center;
    padding: 9px 13px;
    color: black;
    text-decoration: none;
    border-right: solid 1px #C4C4C4;
}

.navigation li a:hover:not(.active) {
    background-color: #C4C4C4;
}

.active {
    background-color: #64A9DB;
}

.post {
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    width: 500px;
    word-wrap: break-word;
    text-align: center;
    margin-block-end: 25px;
} 

.post img {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    float: top;
    display: block;
}

#createPost {
    margin-top: 50px;
    float: right;
    width: 200px;
}

#postsView {
    padding-top: 50px;
    width: auto;
}